[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-debugtoolbar = "*"
flake8 = "*"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-bootstrap = "*"
flask-dotenv = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-testing = "*"
flask-wtf = "*"
flask-login = "*"
python-dotenv = "*"
gunicorn = "*"
pytest = "*"

[requires]
python_version = "3.7"
